<%= turbo_stream_from dom_id(@content) %>

<div class="d-flex align-items-start my-4">
    <div class="nav nav-pills flex-column me-3" role="tablist" aria-orientation="vertical">
        <%= render Tab::ButtonComponent.new(label: 'Title', tab_name: :title, selected: true) %>
        <%= render Tab::ButtonComponent.new(label: 'Abstract', tab_name: :abstract) %>
        <%= render Tab::ButtonComponent.new(label: 'Authors', tab_name: :authors) %>
        <%= render Tab::ButtonComponent.new(label: 'Files', tab_name: :files) %>
    </div>
    <%= form_with model: @work_form, class: 'w-100' do |form| %>
        <%= form.hidden_field :version %>
        <%= form.hidden_field :content_id %>
        <div class="tab-content">
            <%= render Tab::PaneComponent.new(tab_name: :title, selected: true, controllers: ['tab-error']) do %>
                <%= render Form::TextFieldComponent.new(form:, field_name: :title) %>
                <%= render Tab::NextButtonComponent.new(tab_name: :abstract) %>
            <% end %>
            <%= render Tab::PaneComponent.new(tab_name: :abstract, controllers: ['tab-error']) do %>
                <%= render Form::TextAreaComponent.new(form:, field_name: :abstract) %>
                <%= render Tab::NextButtonComponent.new(tab_name: :authors) %>
            <% end %>
            <%= render Tab::PaneComponent.new(tab_name: :authors, controllers: ['tab-error']) do %>
                <%= render Form::NestedComponent.new(form:, model_class: AuthorForm, field_name: :authors, form_component: Work::AuthorFormComponent) %>
            <% end %>
            <%= render Tab::PaneComponent.new(tab_name: :files) do %>
                <%= turbo_frame_tag @content, 'edit', src: edit_content_path(@content) do %>
                    <%= render Element::SpinnerComponent.new %>
                <% end %>
                <%= render Element::HorizontalRuleComponent.new %>
                <%= turbo_frame_tag @content, 'show', src: content_path(@content) do %>
                    <%= render Element::SpinnerComponent.new %>
                <% end %>
            <% end %>
            <%= render Form::SubmitComponent.new(form:, label: 'Save draft', variant: :secondary) %>
            <%# Note when changing the label that it is ultimately used by the controller to determine when a deposit. %>
            <%= render Form::SubmitComponent.new(form:, label: 'Deposit') %>
        </div>
    <% end %>
</div>
