<%= render Element::CardComponent.new(header_label:, classes: 'my-3') do |component| %>
    <% component.with_body(id: body_id, data: { controller: 'form-add' }) do %>    
        <%= body_section %>
        <%= render Form::InvalidFeedbackComponent.new(field_name:, form:, classes: 'd-block') %>

        <template data-form-add-target="template">
            <%= form.fields_for field_name, model_class.new, child_index: 'NEW_RECORD' do |nested_form| %>
                <%= tag.li id: template_id, class: 'list-group-item' do %>
                    <%= tag.div data: { controller: 'form-delete', index: nested_form.options[:child_index], form_add_target: 'row' } do %>
                        <%= render form_component.new(form: nested_form) %>
                        <%= render Element::ButtonComponent.new(label: delete_label, variant: :secondary, size: :sm, classes: 'my-2', data: { action: 'click->form-delete#delete' }) %>
                    <% end %>
                <% end %>
            <% end %>
        </template>
        <ul class="list-group list-group-flush" data-form-add-target="rowContainer">
            <%= form.fields_for field_name do |nested_form| %>
                <li class="list-group-item">
                    <%= tag.div data: { controller: 'form-delete', index: nested_form.options[:child_index], form_add_target: 'row' } do %>
                        <%= render form_component.new(form: nested_form) %>
                        <%= render Element::ButtonComponent.new(label: delete_label, variant: :secondary, size: :sm, classes: 'my-2', data: { action: 'click->form-delete#delete' }) %>
                    <% end %>
                </li>
            <% end %>
        </ul>
        <%= render Element::ButtonComponent.new(label: add_label, variant: :secondary, size: :sm, classes: 'my-2', data: { action: 'click->form-add#add' }) %>
    <% end %>
<% end %>
